[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pip = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
fastai = "*"
ipywidgets = "*"
pysimplegui = "*"

[dev-packages]

[requires]
python_version = "3.8"
